
<!DOCTYPE html>
<html>
<head>
<title>MiniX</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="container">

<div class="sidebar">
<h2>MiniX</h2>

{% if user.is_authenticated %}
<p>@{{user.username}}</p>
<a href="/users/logout/">Logout</a>
{% else %}
<a href="/users/login/">Login</a>
{% endif %}

</div>

<div class="feed">
{% block content %}{% endblock %}
</div>

<div class="right">
<h3>Trending</h3>
<p>#django</p>
<p>#python</p>
<p>#ai</p>
</div>

</div>

</body>
</html>
